<% if flash[:notice] %>
<div class="flash">
	<%= flash[:notice] %>
</div>
<% end %>
<h1>Editing Book</h1>
<ul>
<% if @book.errors.any? %>
<p><%= pluralize(@book.errors.count, "error") %>prohibited this book from being saved:</p>
<ul>
	<% @book.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @book, url: booker_path do |f| %>
<h4>title</h4>
<%= f.text_field :title %>
<h4>body</h4>
<%= f.text_area :body %>
<%= f.submit 'Update Book' %>
<% end %>
<%= link_to "Show", booker_path(@book.id) %>
 | 
<%= link_to "Back", bookers_path %>
